<h2 mat-dialog-title>Mining for a pattern</h2>
<mat-dialog-content>
  <h3>Step 1 Choosing a pattern to mine for:</h3>
  <p>You can select from a preset of predetermined pattern or you can create your custom pattern. A pattern will be in a form of a regular expression.<br>
  The set of predetermined patterns are: </p>
  <ol>
  <li>Pattern 1: 0M1</li>
    <p>This pattern will search for this behaviour..........</p>
  <li>Pattern 2: 0M2</li>
    <p>This pattern will search for this behaviour..........</p>
  <li>Pattern 3: 0M3</li>
    <p>This pattern will search for this behaviour..........</p>
</ol>

 <p> You can also create your custom pattern by selecting the custom option, and then inputting your own regex pattern into the available field.</p>
<h3> Step 2 Choosing the event length:</h3>
  <p>The event length will determine how long the event will be..............</p>
  <h3>Step 3 Choosing the file to mine:</h3>
  <p>The file must be of type x. You should also only attempt to mine one file at a time</p>
</mat-dialog-content>
