
.inputFields {
  margin-top: 1%;
  width: 100%;
}

.mainContent {
  background-color: var(--secondary-color)!important;


}
.header {
  display: flex;
  justify-content: center;
  border: none;
}


.mainWrapper {
  background-color: var(--secondary-color);
  height: 100%;
}

.mat-tab-label {
  margin-left: 10rem;
}
.mat-tab-labels{
  background-color: var(--tertiary-color) !important;
}
textarea {
  width: 100%;
}

.mat-raised-button {
  margin-bottom: 1%!important;
  background-color: var(--tertiary-cool-grey);
}
#inputCard {
background-color: var(--tertiary-pink);
  float: left;
  width: 45%;
  height: 10rem;
  margin-left: 5rem;
}

#outputCard {
  background-color: var(--tertiary-cool-grey);
  float: right;
  width: 45%;
  height: 10rem;
  margin-right: 5rem;
}
#contentContainer {
  width: 100%;
  margin-top: 1%;
  height: 900px;
}
mat-form-field {
  width: 100% !important;
}
.noFloat {
  clear: both;
}
.graphOutput {
  border: 1px;
  border-color: black;
  background-color: var(--tertiary-color);
  width: 100%;
  height: 400px;
}
mat-sidenav {
  background-color: var(--tertiary-cool-grey) !important;
  width: 10%;
}

mat-toolbar {
  background-color: var(--tertiary-color)!important;
  color: white !important;
}
mat-sidenav-content {
  width: 90%;
  overflow-x: hidden;
}
