<mat-card id="mainView">
  <div class="topCard">
  <ng-container *ngFor="let y of this.maxTopCardPattern; let i = index">
    <mat-card class="shortCard">
      <mat-card-title>Value {{i}} <mat-icon class="shortCardToolTip" matTooltip="This card will display the highest and lowest value {{i}} that is present in the data">help</mat-icon></mat-card-title>
      <mat-card-content>
        <div class="shortCardContent" fxLayout="row wrap" fxLayoutGap="40vw" fxLayoutAlign="flex-start">
        <i>Highest Value</i>
        <b>{{y}} :  {{this.maxTopCardToBePushed[i]}}</b>
        <i>Lowest Value</i>
        <b>{{this.minTopCardPattern[i]}} : {{this.minTopCardToBePushed[i]}}</b>
        </div>
      </mat-card-content>
    </mat-card>
  </ng-container>
  </div>
<!--  <mat-card class="shortCard" id="highestCount">-->
<!--    <mat-card-title>Highest {{maxValue0Pattern}} Value 0</mat-card-title>-->
<!--    <mat-card-content>-->
<!--      <p>{{maxValue0Pattern}}</p>-->
<!--      <p>{{maxValue0}}</p>-->
<!--    </mat-card-content>-->
<!--  </mat-card>-->
<!--  <mat-card class="shortCard" id="highestValue1">-->
<!--    <mat-card-title>Lowest {{minValue0Pattern}} Value 0</mat-card-title>-->
<!--    <mat-card-content>-->
<!--      <p>{{minValue0Pattern}}</p>-->
<!--      <p>{{minValue0}}</p>-->
<!--    </mat-card-content>-->
<!--  </mat-card>-->
<!--  <mat-card class="shortCard" id="highestValue2">-->
<!--    <mat-card-title>Highest {{maxValue1Pattern}} Value 1</mat-card-title>-->
<!--    <mat-card-content>-->
<!--      <p>{{maxValue1Pattern}} </p>-->
<!--      <p>{{maxValue1}}</p>-->
<!--    </mat-card-content>-->
<!--  </mat-card>-->
<!--  <mat-card class="shortCard" id="lowestValue1">-->
<!--    <mat-card-title>Lowest {{minValue0Pattern}} Value 1</mat-card-title>-->
<!--    <mat-card-content>-->
<!--      <p>{{minValue1Pattern}}</p>-->
<!--      <p>{{minValue1}}</p>-->
<!--    </mat-card-content>-->
<!--  </mat-card>-->


  <mat-card-content>
    <div class="frequencyView" *ngIf="chartLabels.length > 0">
      <mat-card class="frequencyChartContainer">
        <mat-card-title>Frequency Chart</mat-card-title>
        <canvas class="mainChart" mdbChart
                [chartType]="chartType[chartType.length - 1]"
                [datasets]="frequencyChartValue"
                [labels]="chartLabels"
                [colors]="chartColors"
                [options]="frequencyChartOptions"
                [legend]="false"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)">
        </canvas>
        <mat-radio-group [(ngModel)]="chartType[chartType.length - 1]" aria-label="Select chart type">
          <mat-radio-button value='bar'>Bar</mat-radio-button>
          <mat-radio-button value='horizontalBar'>Horizontal Bar</mat-radio-button>
          <mat-radio-button value='radar'>Radar</mat-radio-button>
          <mat-radio-button value='line'>Line</mat-radio-button>
        </mat-radio-group>
      </mat-card>
    </div>

    <div class="floatContainer">
      <mat-form-field class="float-left">
        <mat-label>Select Data to Display</mat-label>
        <mat-select (selectionChange)="populateChartData()" [(value)]="dataType">
          <mat-option value="average" selected>Average</mat-option>
          <mat-option value="min">Min</mat-option>
          <mat-option value="max">Max</mat-option>
          <mat-option value="SD">Standard Deviation</mat-option>
        </mat-select>
      </mat-form-field> <mat-icon style="top: 1vh" class="countAndSelectToolTip" matTooltip="This dropdown will allow you to select the data type for the following charts that you wish to be displayed.">help</mat-icon>
      <p class="float-right noBackground">Count: {{this.chartData.length}}
        <mat-icon class="countAndSelectToolTip" matTooltip="This count shows the number of pattern matches that came from the mining">help</mat-icon>
      </p>
    </div>

    <div class="dataView" *ngIf="chartLabels.length > 0 && chartValue.length > 1">
      <ng-container *ngFor="let chart of chartDataAvg[0].avgValue; let i = index">
        <mat-card class="mainChartContainer">
        <mat-card-title>Data Display {{i}}</mat-card-title>
          <canvas class="mainChart" mdbChart
                  [chartType]="chartType[i]"
                  [datasets]="chartValue[i]"
                  [labels]="chartLabels"
                  [colors]="chartColors"
                  [options]="chartOptions"
                  [legend]="false"
                  (chartHover)="chartHovered($event)"
                  (chartClick)="chartClicked($event)">
          </canvas>
          <mat-radio-group [(ngModel)]="chartType[i]" aria-label="Select chart type">
            <mat-radio-button value='bar'>Bar</mat-radio-button>
            <mat-radio-button value='horizontalBar'>Horizontal Bar</mat-radio-button>
            <mat-radio-button value='radar'>Radar</mat-radio-button>
            <mat-radio-button value='line'>Line</mat-radio-button>
          </mat-radio-group>
        </mat-card>
      </ng-container>
    </div>

    <div class="frequencyView" *ngIf="chartLabels.length > 0 && chartValue.length == 1">
      <ng-container *ngFor="let chart of chartDataAvg[0].avgValue; let i = index">
        <mat-card class="frequencyChartContainer">
          <mat-card-title>Data Display {{i}}</mat-card-title>
          <canvas class="mainChart" mdbChart
                  [chartType]="chartType[i]"
                  [datasets]="chartValue[i]"
                  [labels]="chartLabels"
                  [colors]="chartColors"
                  [options]="chartOptions"
                  [legend]="true"
                  (chartHover)="chartHovered($event)"
                  (chartClick)="chartClicked($event)">
          </canvas>
          <mat-radio-group [(ngModel)]="chartType[i]" aria-label="Select chart type">
            <mat-radio-button value='bar'>Bar</mat-radio-button>
            <mat-radio-button value='horizontalBar'>Horizontal Bar</mat-radio-button>
            <mat-radio-button value='radar'>Radar</mat-radio-button>
            <mat-radio-button value='line'>Line</mat-radio-button>
          </mat-radio-group>
        </mat-card>
      </ng-container>
    </div>



    <div class="warning" *ngIf="chartLabels.length == 0">
      <p>Please select at least 1 data to display!</p>
    </div>

<!--    <mat-card class="dataSearch">-->
<!--      <mat-selection-list-->
<!--                           [(ngModel)]="selectedValues"-->
<!--                           (selectionChange)="populateChartData()">-->
<!--        <mat-card-title>Pattern</mat-card-title>-->
<!--        <mat-list-option selected *ngFor="let chartData of (chartDataAvg | dataSearch:dataSearch.value)" [value]="chartData">{{chartData.pattern}}</mat-list-option>-->
<!--      </mat-selection-list>-->
<!--    </mat-card>-->

    <mat-card class="dataTable">
      <div class="dataHeader" fxLayout="row wrap" fxLayoutGap="40vw" fxLayoutAlign="flex-start">
        <mat-card-title>Table View</mat-card-title>
        <form>
          <mat-form-field>
            <input id="search" type="text" matInput #dataSearch placeholder="Search for a pattern" [matAutocomplete]="auto" [formControl]="myControl">
            <mat-autocomplete #auto="matAutocomplete" >
              <div *ngIf="searchType == 'text'">
              <mat-option *ngFor="let chartData of (chartDataAvg | dataSearch:dataSearch.value)" [value]="chartData.pattern">{{chartData.pattern}}</mat-option>
              </div>
            </mat-autocomplete>
          </mat-form-field>
        </form>
        <mat-radio-group class="searchRadio" #radioGroup="matRadioGroup" [(ngModel)]="searchType" aria-label="Select search type">
          <mat-radio-button value='text' checked>Text</mat-radio-button>
          <mat-radio-button value='regex'>Regex</mat-radio-button>
        </mat-radio-group>
      </div>

      <mat-selection-list #dataToDisplay [(ngModel)]="selectedValues"
                          (selectionChange)="populateChartData(selectedValues)">
        <ng-template [ngIf]="searchType == 'text'">
      <mat-table [dataSource]="chartData | dataSearch:dataSearch.value">

        <ng-container matColumnDef="selected">
          <mat-header-cell *matHeaderCellDef> Selected </mat-header-cell>
          <mat-cell
            [ngClass]="{'firstColor': (element.color == 1), 'secondColor': (element.color == 2), 'thirdColor': (element.color == 3), 'fourthColor': (element.color == 4)
            , 'fifthColor': (element.color == 5), 'sixthColor': (element.color == 6)}"
            *matCellDef="let element">
            <div *ngIf="element.checkbox"><mat-list-option [value]="element"></mat-list-option></div>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="pattern">
          <mat-header-cell *matHeaderCellDef> Pattern </mat-header-cell>
          <mat-cell
            [ngClass]="{'firstColor': (element.color == 1), 'secondColor': (element.color == 2), 'thirdColor': (element.color == 3), 'fourthColor': (element.color == 4)
            , 'fifthColor': (element.color == 5), 'sixthColor': (element.color == 6)}"
            *matCellDef="let element"><div *ngIf="element.checkbox">{{element.pattern}}</div></mat-cell>
        </ng-container>

        <ng-container matColumnDef="frequency">
          <mat-header-cell *matHeaderCellDef> Frequency </mat-header-cell>
          <mat-cell
            [ngClass]="{'firstColor': (element.color == 1), 'secondColor': (element.color == 2), 'thirdColor': (element.color == 3), 'fourthColor': (element.color == 4)
            , 'fifthColor': (element.color == 5), 'sixthColor': (element.color == 6)}"
            *matCellDef="let element"><div *ngIf="element.checkbox">{{element.frequency}}</div></mat-cell>
        </ng-container>

        <ng-container *ngFor="let chartData of chartData[0].value; let i = index" matColumnDef="value{{i}}">
          <mat-header-cell *matHeaderCellDef>Value {{i}}</mat-header-cell>
          <mat-cell
            [ngClass]="{'firstColor': (element.color == 1), 'secondColor': (element.color == 2), 'thirdColor': (element.color == 3), 'fourthColor': (element.color == 4)
            , 'fifthColor': (element.color == 5), 'sixthColor': (element.color == 6)}"
            *matCellDef="let element">{{element.value[i]}}</mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
        </ng-template>

        <ng-template [ngIf]="searchType == 'regex'">
          <mat-table [dataSource]="chartData | regexdataSearch:dataSearch.value">
            <ng-container matColumnDef="selected">
              <mat-header-cell *matHeaderCellDef> Selected </mat-header-cell>
              <mat-cell
                [ngClass]="{'firstColor': (element.color == 1), 'secondColor': (element.color == 2), 'thirdColor': (element.color == 3), 'fourthColor': (element.color == 4)
            , 'fifthColor': (element.color == 5), 'sixthColor': (element.color == 6)}"
                *matCellDef="let element">
                <div *ngIf="element.checkbox"><mat-list-option [value]="element"></mat-list-option></div>
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="pattern">
              <mat-header-cell *matHeaderCellDef> Pattern </mat-header-cell>
              <mat-cell
                [ngClass]="{'firstColor': (element.color == 1), 'secondColor': (element.color == 2), 'thirdColor': (element.color == 3), 'fourthColor': (element.color == 4)
            , 'fifthColor': (element.color == 5), 'sixthColor': (element.color == 6)}"
                *matCellDef="let element"><div *ngIf="element.checkbox">{{element.pattern}}</div></mat-cell>
            </ng-container>

            <ng-container matColumnDef="frequency">
              <mat-header-cell *matHeaderCellDef> Frequency </mat-header-cell>
              <mat-cell
                [ngClass]="{'firstColor': (element.color == 1), 'secondColor': (element.color == 2), 'thirdColor': (element.color == 3), 'fourthColor': (element.color == 4)
            , 'fifthColor': (element.color == 5), 'sixthColor': (element.color == 6)}"
                *matCellDef="let element"><div *ngIf="element.checkbox">{{element.frequency}}</div></mat-cell>
            </ng-container>

            <ng-container *ngFor="let chartData of chartData[0].value; let i = index" matColumnDef="value{{i}}">
              <mat-header-cell *matHeaderCellDef>Value {{i}}</mat-header-cell>
              <mat-cell
                [ngClass]="{'firstColor': (element.color == 1), 'secondColor': (element.color == 2), 'thirdColor': (element.color == 3), 'fourthColor': (element.color == 4)
            , 'fifthColor': (element.color == 5), 'sixthColor': (element.color == 6)}"
                *matCellDef="let element">{{element.value[i]}}</mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
          </mat-table>
        </ng-template>

      </mat-selection-list>

    </mat-card>
  </mat-card-content>


</mat-card>
