<mat-list>
  <mat-list-item (click)="switchDisplay('primaryData')">Data</mat-list-item>
  <mat-list-item (click)="switchDisplay('secondaryData')">About</mat-list-item>
</mat-list>
<div class="form-group">
  <label>Choose File to Mine Pattern (You can select multiple files)</label>
  <ul>
    <li *ngFor="let file of files">
      <mat-progress-bar [value]="file.progress"></mat-progress-bar>
      <span id="file-label">
        {{file.data.name}}
      </span>
    </li>
  </ul>
  <button mat-button (click)="onClick()">
    <mat-icon>file_upload</mat-icon>
    Upload
  </button>
  <input type="file"
         #fileUpload
         id="fileUpload"
         name="fileUpload"
         multiple="multiple"
         style="display: none"
  >
</div>
